
.product_item{
    cursor: pointer;

}
.product_info h3{
     font-size: 1.2rem;
    color: black;
    font-weight: 600;
    margin-top: 15px;
}
.product_info a:hover{
    color: inherit;

}
.product_info span{
    font-size: 0.9rem;
}
.product_card-bottom .price{
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}
.product_card-bottom span i{
    font-size: 1.2rem;
    padding: 5px;
    background:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50px;
}